[submodule "modules"]
	path = modules
	url = https://github.com/stumpwm/stumpwm-contrib
[submodule "extras/scratchpad"]
	path = extras/scratchpad
	url = https://github.com/podiki/scratchpad
[submodule "extras/stumpwm-window-switch"]
	path = extras/stumpwm-window-switch
	url = https://github.com/Junker/stumpwm-window-switch
